<div class="field">
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :artist %><br />
	<%= f.text_field :artist %>
</div>
<div class="field">
	<%= f.label :genre %><br />
	<%= f.text_field :genre %>
</div>
<div class="field">
	<%= f.label :record_type, "Type" %><br />
	<%= f.text_field :record_type %>
</div>
<div class="field">
	<%= f.label :year %><br />
	<%= f.text_field :year %>
</div>
<div class="field">
	<%= f.label :catalog_number %><br />
	<%= f.text_field :catalog_number %>
</div>
<div class="field">
	<%= f.label :comment %><br />
	<%= f.text_field :comment %>
</div>