<h1>Edit record</h1>

<%= semantic_form_for(@record) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>
	<h3>Tracks</h3>
	<div class="tracks">
	<%= f.semantic_fields_for :tracks do |track| %>
		<%= render 'track_fields', :f => track %>
	<% end %>
	<%= link_to_add_association 'Add a track', f, :tracks %>
	</div>
	<%= f.buttons do %>
    <%= f.submit "Update" %>
  <% end %>
<% end %>